PORT=3000
MONGO_URL=your_mongodb_url
JWT_ACCESS_SECRET=random_long_string
JWT_REFRESH_SECRET=random_long_string
VERCEL_FRONTEND_URL=Your_vercel_url
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret
RESEND_API_KEY=resend_api_key
ADMIN_EMAIL=your_own_email
REDIS_URL=redis_url_from_ioredis
NODE_ENV=development